# Ignorar carpeta completa con espacios
!Modelos-DL/Projecto Galaxias/TestGalaxias.ipynb
Modelos-DL/Projecto Galaxias/GalaxyZoo/
# Opcional: ignorar subcarpetas concretas
Modelos-DL/Projecto Galaxias/GalaxyZoo/images_test_rev1/
Modelos-DL/Projecto Galaxias/GalaxyZoo/images_training_rev1/